# vim stuff
*.swp

# emacs stuff
*~

# generic log catcher
*.log

# latex stuff
*.aux
*.lof
*.lot
*.fls
*.out
*.toc

# latex indexes
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.glg
*.glo
*.gls
*.brf
*.lol

# latex beamer
*.nav
*.snm

# latex dvi and pdf
*.dvi
*.pdf

